h2 {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
}

article {
    margin-top: 20px;
    text-align: center;
    line-height: 1.8em;
    font-size: 1.2em;
    padding: 0 20px;
}

article p {
    margin-bottom: 20px;
}

.article-desktop {
    max-width: 800px;
    margin: 10px auto;
}

span {
    margin-right: 10px;
}

.card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0px;
    margin: 50px 5px;
}

.clearAllBtnContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
}

button.clearAll {
    width: 150px;
    padding: 10px 15px;
    background-color: #ee694c;
    color: #fff;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

td button {
    width: 100px;
    padding: 10px 15px;
    background-color: #2a6cae;
    color: #fff;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

td button:hover {
    cursor: pointer;
}

.table-desktop {
    display: none;
}

.table-mobile .mobile-course {
    border: 1px solid #989898;
    border-radius: 4px;
    padding: 15px 5px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.course-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 1.2em;
    text-align: center;
}

.article-desktop {
    display: none;
}

.article-mobile {
    display: block;
}

.course-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
}

/* Centrerar meddelande för Inga kurser hittades i tabellen */
td[colspan="6"] {
    text-align: center;
    font-size: 1.2em;
    padding: 30px 0;
}

.total-points {
    text-align: center;
    font-size: 1.1em;
    margin: 20px 10px 30px 10px;
}

@media (min-width: 768px) {
    .table-desktop {
        display: block;
    }

    .table-mobile {
        display: none;
    }

    .article-desktop {
        display: block;
    }

    .article-mobile {
        display: none;
    }

    th,
    td {
        padding: 12px;
    }

    table {
        font-size: 18px;
    }

    .card {
        margin: 50px 40px;
        padding: 20px 20px 0 20px;
    }

    table {
        margin: 20px 0;
    }

    .total-points {
        text-align: center;
        margin-top: 20px;
        margin-right: 10px;
        font-size: 1.1em;
    }

}