<h2>Mitt Ramschema</h2>

<article class="article-mobile">
  <p>Här kan du se och hantera ditt ramschema. Tryck på<span></span><i class="fa-solid fa-trash"></i>-ikonen för att ta bort en kurs från ditt ramschema.</p>
  <p>Tryck på "Rensa schema" för att tömma hela ramschemat.</p>
</article>

<article class="article-desktop">
  <p>Här kan du se och hantera ditt ramschema. <br> Tryck på knappen "Ta bort" för att ta bort en kurs från ditt ramschema, eller tryck på knappen "Rensa schema" för att tömma hela ramschemat.</p>
</article>
<div class="clearAllBtnContainer">
  <button class="clearAll" (click)="clearSchedule()">Rensa schema</button>
</div>

<div class="card">
  <!-- Tabell Mobil -->
  <div class="table-desktop">
    <p-table
      styleClass="p-datatable-striped"
      [value]="myCourses"
      [tableStyle]="{ 'min-width': '60rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 20%">Kurskod</th>
          <th style="width: 20%">Namn</th>
          <th style="width: 20%">Poäng</th>
          <th style="width: 20%">Ämne</th>
          <th style="width: 20%">Kursplan</th>
          <th style="width: 10%"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-course>
        <tr>
          <td>{{ course.courseCode }}</td>
          <td>{{ course.courseName }}</td>
          <td>{{ course.points }}</td>
          <td>{{ course.subject }}</td>
          <td><a [href]="course.syllabus">Kursplan</a></td>
          <td>
            <button (click)="removeCourse(course.courseCode)">Ta bort</button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">Inga kurser hittades.</td>
        </tr>
      </ng-template>
    </p-table>
    <div *ngIf="myCourses.length > 0" class="total-points">
      <p>Totalt antal poäng: {{ totalPoints }}</p>
    </div>
  </div>

  <!-- Tabell mobil -->
  <div class="table-mobile">
    <p-table [value]="myCourses">
      <ng-template pTemplate="body" let-course>
        <tr class="mobile-course">
          <td colspan="6">
            <div class="course-header">
              <div class="course-name">{{ course.courseName }}</div>
              <div class="course-points">{{ course.points }} poäng</div>
              <i
                (click)="removeCourse(course.courseCode)"
                class="fa-solid fa-trash"
              ></i>
            </div>
            <div class="course-details">
              <div class="course-code">{{ course.courseCode }}</div>
              <div class="course-subject">{{ course.subject }}</div>
              <a [href]="course.syllabus">Kursplan</a>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">Inga kurser hittades.</td>
        </tr>
      </ng-template>
    </p-table>
    <div *ngIf="myCourses.length > 0" class="total-points">
      <p>Totalt antal poäng: {{ totalPoints }}</p>
    </div>
  </div>
</div>
