<main>
  <div class="hero">
    <div class="hero-content">
      <div class="hero-text">
        <h1>
          Välkommen till <br />
          Dalsjöns Universitet
        </h1>
        <!-- <p>Din framtid börjar här</p> -->
      </div>

      <div class="hero-news">
        <h3>Vad gör du i höst?</h3>
        <p>Vi har utbildningar som fortfarande är öppna för anmälan.</p>
        <a routerLink="/courses" routerLinkActive="current" class="hero-button"
          >Se vårt kursutbud</a
        >
      </div>
    </div>
  </div>

  <section id="info-sections" class="info-sections">
    <div class="info-box">
      <img
        src="../../../assets/images/studera.jpg"
        alt="Bild 1"
        class="info-image"
      />
      <h2>Studera</h2>
      <p>
        Är du nyfiken på studentlivet? <br />
        Här erbjuds du en inspirerande studiemiljö där du kan fördjupa dig i
        dina studier, engagera dig i olika föreningar, och delta i spännande
        aktiviteter. <br /><br />Läs mer om hur det är att studera på Dalsjöns
        Universitet.
      </p>
      <a routerLink="/404" class="info-link">Läs mer</a>
    </div>

    <div class="info-box">
      <img
        src="../../../assets/images/forskning.jpg"
        alt="Bild 2"
        class="info-image"
      />
      <h2>Forskning</h2>
      <p>
        Delta i viktig forskning och samarbeta med framstående experter inom
        olika discipliner. Vid Dalsjöns Universitet främjar vi innovation och
        vetenskaplig utveckling som direkt knyter an till våra
        utbildningsprogram. <br /><br />
        Läs mer om våra forskningsinitiativ och hur du kan bidra.
      </p>
      <a routerLink="/404" class="info-link">Läs mer</a>
    </div>

    <div class="info-box">
      <img
        src="../../../assets/images/jobba.jpg"
        alt="Bild 3"
        class="info-image"
      />
      <h2>Jobba hos oss</h2>
      <p>
        Upptäck dina karriärmöjligheter hos oss och se våra lediga tjänster. Träffa några av våra medarbetare och hör deras berättelser om
        varför de valt att arbeta här. <br><br>Läs mer om varför Dalsjöns
        Universitet är en fantastisk arbetsplats och hur du kan bli en del av den.
      </p>
      <a routerLink="/404" class="info-link">Läs mer</a>
    </div>
  </section>
</main>
