
/* Hero-section */
.hero {
  background-image: url('../../../assets/images/hero.webp');
  background-size: cover;
  background-position: center;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  padding: 5px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.hero-text {
  max-width: 700px;
  text-align: left;
  }

.hero h1 {
  padding: 0 10px;
  background-color: rgba(0, 64, 128, 0.7);
  font-size: 2.7em;
  font-weight: 500;
  text-align: left;
  margin-top: 4.5em;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 1);
}

.hero .hero-news {
  background-color: rgba(255, 255, 255, 0.9);
  color: rgba(0, 64, 128, 1);
  width: 300px;
  padding: 10px;
  border-radius: 4px;
  line-height: 1.5em;
  margin-top: 20px;
}

.hero-news h3 {
  font-size: 1.4em;
  padding-bottom: 10px;
}

.hero-news p {
  font-size: 1.2em;
}

/* Knappar hero */
.hero .hero-button {
  display: flex;
  justify-content: center;
  width: 140px;
  background-color: rgba(0, 64, 128, 1);
  color: rgba(255, 255, 255, 1);
  padding: 10px 5px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1em;
  margin: 10px auto;
}

.hero .hero-button:hover {
  background-color: rgba(0, 48, 96, 1);
}

/* Info-section */
.info-sections {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px 20px;
  background-color: #f4f4f4;
}

.info-box {
  background-color:  rgba(255, 255, 255, 1);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  text-align: center;
  margin: 20px;
  overflow: hidden;
}

.info-box img {
  width: 100%;
  height: auto;
}

.info-box h2 {
  font-size: 1.5em;
  margin: 15px 0;
}

.info-box p {
  padding: 0 20px;
  line-height: 1.4em;
}

/* Knappar info */
.info-box .info-link {
  display: block;
  background-color: rgba(0, 64, 128, 1);
  color:  rgba(255, 255, 255, 1);
  padding: 10px;
  text-decoration: none;
  margin: 20px 0;
}

.info-box .info-link:hover {
  background-color: rgba(0, 48, 96, 1);
}

@media (min-width: 768px) {
  .hero {
    padding: 50px 5px;
  }
  
  .hero-content {
    flex-direction: row;
  }

  .hero-text {
    margin-left: 8vw;
    }

  .hero h1 {
    margin-top: 1vh;
    font-size: 3.5em;
    margin-bottom: 0.5em;
    font-weight: 600;
  }

  .hero .hero-news {
    padding: 20px 20px;
    margin-right: 8vw;
  }

  .hero .hero-button {
    width: 160px;
    padding: 10px;
  }
 
  .info-sections {
    flex-direction: row;
    padding: 50px 20px 100px 20px;
  }

  .info-box {
    max-width: 30%;
  }
}