#main-footer {
    background-color: #004080;
    color: #fff;
    padding: 30px 0;
    position: relative;
    z-index: 2;
}

#main-footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.footer-section h4 {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 10px;
    border-bottom: 2px solid #ffcc00;
    padding-bottom: 5px;
}

.footer-section p, .footer-section ul, .footer-section form {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-section ul {
    margin-top: 10px;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #ffcc00;
    cursor: pointer;
}

.footer-section .sub-menu {
    margin-left: 20px;
    margin-top: 5px;
}

.footer-section .sub-menu li {
    margin-bottom: 5px; 
}

.footer-section .social-media {
    display: flex;
    flex-direction: row;
    
}

.footer-section .social-media li {
    margin: 10px;
}

.footer-section .social-media li a:hover {
    background-color: #ffd700;
}

.footer-section form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.footer-section form input {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.footer-section form button {
    padding: 10px;
    background-color: #ffcc00;
    color: #004080;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.footer-section form button:hover {
    background-color: #ffd700;
}

.footer-bottom {
    text-align: center;
    padding: 20px 0;
    background-color: #003366;
}

.footer-bottom p {
    margin: 0;
}

#pic-attribute {
    margin-top: 10px;
    font-size: 0.8em;
  }

  #pic-attribute a {
    color: #fff;
  }
