#main-footer {
    background-color: rgba(0, 64, 128, 1);
    color: rgba(255, 255, 255, 1);
    padding: 30px 0;
    position: relative;
    z-index: 2;
}

#main-footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.footer-section h4 {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 10px;
    border-bottom: 2px solid rgba(255, 204, 0, 1);
    padding-bottom: 5px;
}

.footer-section p,
.footer-section ul,
.footer-section form {
    list-style: none;
    line-height: 1.5em;
}

.footer-section ul {
    margin-top: 10px;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: rgba(255, 215, 0, 1);
    cursor: pointer;
}

.footer-section .sub-menu {
    margin: 5px 20px;
}

.footer-section .social-media {
    display: flex;
    flex-direction: row;
    }

.footer-section .social-media li {
    margin: 10px;
}

.footer-section .social-media li a:hover {
    color: rgba(255, 215, 0, 1);
}

.footer-section form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.footer-section form input {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.footer-section form button {
    width: 130px;
    margin: 0 auto;
    padding: 10px;
    background-color: rgba(255, 204, 0, 1);
    color: rgba(0, 64, 128, 1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.footer-section form button:hover {
    background-color: rgba(255, 215, 0, 1);
}

.footer-bottom {
    text-align: center;
    padding: 20px 0;
    background-color: rgba(0, 51, 102, 1);
}

.footer-bottom p {
    margin: 0;
}

#pic-attribute {
    margin-top: 10px;
    font-size: 0.8em;
  }

  #pic-attribute a {
    color: rgba(255, 255, 255, 1);
  }

  @media (min-width: 768px) {
    .footer-section {
        max-width: 300px;
    }

    .footer-section form {
        max-width: 300px;
    }
  }