<footer id="main-footer">
    <div class="container">
        <div class="footer-section" id="contact">
            <h4>Kontaktuppgifter</h4>
            <p><strong>Dalsjöns Universitet</strong></p>
            <p>Universitetsvägen 4</p>
            <p>516 30 Dalsjöfors</p>
            <p>Email: info&#64;dalsjonsuniversitet.se</p>
            <p>Telefon: 012-345 67 89</p>
        </div>
        <div class="footer-section">
            <h4>Snabblänkar</h4>
            <ul>
                <li><a routerLink="/home" routerLinkActive="current">Om oss</a></li>
                <li><a routerLink="/404">Antagning</a></li>
                <li><a routerLink="/courses" routerLinkActive="current">Kurser</a></li>
                <li><a routerLink="/my-schedule" routerLinkActive="current" class="sub-menu">Mitt ramschema</a></li>
                <li><a routerLink="/404">Forskning</a></li>
                <li><a href="#contact">Kontakta oss</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Sociala Medier</h4>
            <ul class="social-media">
                <li><a href="https://facebook.com" aria-label="Länk till DU:s Facebook" target="_blank"><i class="fa-brands fa-square-facebook fa-2xl"></i></a></li>
                <li><a href="https://instagram.com" aria-label="Länk till DU:s Instagram" target="_blank"><i class="fa-brands fa-square-instagram fa-2xl"></i></a></li>
                <li><a href="https://twitter.com" aria-label="Länk till DU:s Twitter/X" target="_blank"><i class="fa-brands fa-square-x-twitter fa-2xl"></i></a></li>
                <li><a href="https://linkedin.com" aria-label="Länk till DU:s LinkedIn" target="_blank"><i class="fa-brands fa-linkedin fa-2xl"></i></a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Nyhetsbrev</h4>
            <p>Prenumerera på vårt nyhetsbrev för att få de senaste nyheterna och uppdateringarna från universitetet.</p>
            <form>
                <input type="email" aria-label="Epost för prenumeration av nyhetsbrev" placeholder="Din email" required>
                <button type="submit">Prenumerera</button>
            </form>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Dalsjöns Universitet / Annelie Svensson</p>
        <p id="pic-attribute">Bilder från <a href="https://www.freepik.com/">Freepik</a> och <a href="https://pixabay.com/sv/">Pixabay</a></p>
    </div>
</footer>
